@import '~reset-css';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

h1 {
  font-weight: bold;
  font-size: 230%;
}

.Container {
  padding: 1rem;
  margin: 0 auto;
  height: 100%;
  max-width: 1024px;
  position: relative;
}

.EmployeeList {
  padding-top: 13px;
}

.Employee {
  padding: 0 10px 13px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 13px;
  white-space: pre-line;
}

.Editor {
  position: absolute;
  right: 0;
  top: 0;
  background: #ccc;
  width: 250px;
  padding: 13px;
  box-shadow: 0 0 5px black;
  z-index: 1;
}

.ToggleEditor {
  position: absolute;
  right: 13px;
  top: 13px;
  box-shadow: 0 0 5px black;
  z-index: 2;
}

.EmployeeEdit {
  margin-bottom: 13px;
}

.Input {
  width: 100%;
  height: 75px;
}