{
  "plugins": [
    "syntax-flow",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-async-to-generator",
    "transform-async-generator-functions",
    "transform-remove-strict-mode",
    "transform-decorators-legacy"
  ],
  "presets": ["es2015", "stage-0", "react"]
}
